html, body {
    font-family: 'Montserrat', sans-serif;
}
p {
    font-family: 'Merriweather', serif;
    line-height: 1.8;
}

.blog-thumbnail {
    min-height: 220px;
    object-fit: cover;
}
.featured-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}