html,
body {
	font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 .h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: "Merriweather", serif;
}

p {
	margin-bottom: 1.5rem;
	line-height: 1.8;
}

.blog-thumbnail {
	min-height: 220px;
	object-fit: cover;
}
.featured-img {
	height: 300px;
	width: 100%;
	object-fit: cover;
}

.fade-wrapper {
	width: 100%;
}

.fade-wrapper:after {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 100%;
	z-index: 1;
	content: "";
	background: linear-gradient(
		hsla(0, 0%, 100%, 0.8),
		hsla(0, 0%, 100%, 0.9) 50%,
		#fff
	);
}
.featured-img-background {
	/* position: absolute; */
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.fade-wrapper + .container {
	position: relative;
	z-index: 1;
}

.bg-header {
	background: linear-gradient(90deg, #fff 13px, transparent 1%) center,
		linear-gradient(#fff 13px, transparent 1%) center, #d0d2d3;
	background-size: 15px 15px;
}

.hover-text span {
	transition: 0.5s all;
}

.hover-text:not(:hover) .hover-text-hidden {
	opacity: 0;
}
.hover-text:hover span {
	color: #28a745;
}
